@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-align-center-gap($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
